* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100vw;
}

.page-container {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

.page {
  text-transform: capitalize;
  display: inline-block;
  margin-left: 20%;
  font-weight: bold;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.title {
  list-style: none;
}

.logo {
  height: 5vh;
  margin-left: 5px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  max-width: 100vw;
  background: black;
}

.card {
  position: relative;
  width: 20vw;
  height: 30vh;
  transform-style: preserve-3d;
  animation: animate 35s linear infinite;
}
.card:hover {
  animation-play-state: paused;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

/* .card img {
  height: 25vh;
  width: 10vw;
} */

.card span {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 35vh;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 33deg)) translateZ(400px);
}

.card span img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.card-title {
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.frame-status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
}

.show-frame {
  visibility: visible;
  z-index: 10;
}

.frame-container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  width: 70vw;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-container h2 {
  position: absolute;
  display: grid;
  top: 10px;
  background: transparent;
  border-color: transparent;
  text-transform: uppercase;
  color: red;
}

.close-frame-btn {
  position: absolute;
  display: grid;
  top: 10px;
  right: 10px;
  background: transparent;
  border-color: transparent;
  color: red;
  font-size: larger;
  cursor: pointer;
}

.single-channel {
  margin: 10px;
}

.channel-card {
  display: flex;
  flex-direction: row;
  height: 30vh;
}

.channel-btn {
  background: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
}
